@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* 이미지 드래그 방지 + 우클릭 차단 */
  img {
    @apply select-none;
    -webkit-user-drag: none;
    user-drag: none;
    pointer-events: auto; /* 클릭 가능하도록 유지 */
  }

  /* 배경 이미지 보호 */
  .no-save {
    pointer-events: auto; /* 클릭 가능하게 유지 */
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none; /* 모바일에서 길게 눌러 저장 차단 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

/* 우클릭 완전 차단 */
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body,
img,
.no-save {
  -webkit-touch-callout: none; /* 모바일에서 이미지 길게 눌러 다운로드 차단 */
}

html {
  pointer-events: auto; /* 클릭 가능하도록 유지 */
}

@font-face {
  font-family: "DungGeunMo"; /* 폰트 이름 */
  src: url("@/assets/fonts/DungGeunMo.woff2") format("woff2"), /* 최신 브라우저용 */ url("@/assets/fonts/DungGeunMo.woff") format("woff"), /* 구형 브라우저용 */ url("@/assets/fonts/DungGeunMo.eot"); /* IE 8 이하용 */
  font-weight: normal;
  font-style: normal;
}
