# 기본 경로 설정
(index) {
    handle_path /* {
        root * /var/www/
        file_server
    }
}

# LiveKit API
(general_rules) {
    @openvidu path /twirp/* /rtc/* /rtc
    handle @openvidu {
        reverse_proxy http://openvidu:7880
    }

    # OpenVidu v2 Custom layout
    redir /openvidu/layouts /openvidu/layouts/
    handle_path /openvidu/layouts/* {
        uri strip_prefix /openvidu/layouts
        root * /var/www/custom-layout
        file_server
    }

    # Minio console
    redir /minio-console /minio-console/
    handle_path /minio-console/* {
        uri strip_prefix /minio-console
        reverse_proxy http://minio:9001
    }

    # OpenVidu Dashboard
    redir /dashboard /dashboard/
    handle_path /dashboard/* {
        rewrite * {path}
        reverse_proxy http://dashboard:5000
    }

    # OpenVidu Call (Default App)
    redir /openvidu-call /openvidu-call/
    handle_path /openvidu-call/* {
        rewrite * {path}
        reverse_proxy http://default-app:6080
    }
}

# TURN 서버 설정 (UDP)
(turn_server) {
    handle /turn/* {
        reverse_proxy openvidu:3478
    }
}

# 클라이언트 애플리케이션
(application_client) {
    handle_errors {
        @502 expression {http.error.status_code} == 502
        rewrite @502 /app502client.html
        file_server {
            root /var/www
        }
    }
    reverse_proxy http://host.docker.internal:5080
}

# 서버 애플리케이션
(application_server) {
    handle_errors {
        @502 expression {http.error.status_code} == 502
        rewrite @502 /app502server.html
        file_server {
            root /var/www
        }
    }
    reverse_proxy http://host.docker.internal:6080
}

# 7880 포트로의 리버스 프록시 설정
:7880 {
    import general_rules
    import index
}

# HTTPS 설정 (7443 포트에서 Spring Boot로 리버스 프록시)
https://i12e103.p.ssafy.io:7443 {
    tls /etc/letsencrypt/live/i12e103.p.ssafy.io/fullchain.pem /etc/letsencrypt/live/i12e103.p.ssafy.io/privkey.pem
    import general_rules
    import index
    reverse_proxy /api/* http://spring-boot:8076
}

# HTTPS 설정 (5443 포트, 클라이언트 애플리케이션)
https://i12e103.p.ssafy.io:5443 {
    tls /etc/letsencrypt/live/i12e103.p.ssafy.io/fullchain.pem /etc/letsencrypt/live/i12e103.p.ssafy.io/privkey.pem
    import application_client
}

# HTTPS 설정 (6443 포트, 서버 애플리케이션)
https://i12e103.p.ssafy.io:6443 {
    tls /etc/letsencrypt/live/i12e103.p.ssafy.io/fullchain.pem /etc/letsencrypt/live/i12e103.p.ssafy.io/privkey.pem
    import application_server
}

# TURN 서버 설정 블록을 포함
:3478 {
    import turn_server
}

