(index) {
        # Default /
        handle_path /* {
                root * /var/www/
                file_server
        }
}
(general_rules) {
        # LiveKit API
        @openvidu path /twirp/* /rtc/* /rtc
        handle @openvidu {
                reverse_proxy http://openvidu:7880
        }

        # OpenVidu v2 Custom layout
        redir /openvidu/layouts /openvidu/layouts/
        handle_path /openvidu/layouts/* {
                uri strip_prefix /openvidu/layouts
                root * /var/www/custom-layout
                file_server
        }

        # Minio console
        redir /minio-console /minio-console/
        handle_path /minio-console/* {
                uri strip_prefix /minio-console
                reverse_proxy http://minio:9001
        }

        # OpenVidu Dashboard
        redir /dashboard /dashboard/
        handle_path /dashboard/* {
                rewrite * {path}
                reverse_proxy http://dashboard:5000
        }
}
(application_client) {
        handle_errors {
                @502 expression {http.error.status_code} == 502
                rewrite @502 /app502client.html
                file_server {
                        root /var/www
                }
        }
        reverse_proxy http://host.docker.internal:80
}

(application_server) {
        handle_errors {
                @502 expression {http.error.status_code} == 502
                rewrite @502 /app502server.html
                file_server {
                        root /var/www
                }
        }
        reverse_proxy http://host.docker.internal:8076
}

# Servers
:7880 {
        import general_rules
        import index
}

https://i12e103.p.ssafy.io:7443 {
        tls /etc/letsencrypt/live/i12e103.p.ssafy.io/fullchain.pem /etc/letsencrypt/live/i12e103.p.ssafy.io/privkey.pem
        import general_rules
        import index
}

https://i12e103.p.ssafy.io:443 {
        tls /etc/letsencrypt/live/i12e103.p.ssafy.io/fullchain.pem /etc/letsencrypt/live/i12e103.p.ssafy.io/privkey.pem
        import application_client
}

https://i12e103.p.ssafy.io:8076 {
        tls /etc/letsencrypt/live/i12e103.p.ssafy.io/fullchain.pem /etc/letsencrypt/live/i12e103.p.ssafy.io/privkey.pem
        import application_server
}
